@import url('./reset.css');
.container{width: 100%; height: 100%;}
.header_wrap{position: relative; display: flex; align-items: center; justify-content: space-between; padding: 0 50px; width: 100%; height: 84px;}
.header_wrap .h-logo{width: 66px;}
.header_wrap .h-menu{position: absolute; left: 50%; top: 50%; display: flex; align-items: center; font-size: 16px; font-weight: 700; transform: translate(-50%,-50%);}
.header_wrap .h-menu li{margin-right: 60px;}
.header_wrap .h-menu li:last-child{margin-right: 0;}
.header_wrap .h-right{display: flex; align-items: center;}
.header_wrap .h-lang_wrap button{width: 86px; height: 40px; border: solid 1px #333333; border-radius: 6px; font-size: 15px; font-weight: 600;}
.header_wrap .h-lang_wrap{margin-right: 28px;}
.header_wrap .h-lang_wrap button::after{content: ''; display: inline-block; width: 12px; height: 12px; background: url(../img/h-lang-arrow.svg) no-repeat; margin-left: 3px;}
.header_wrap .h-login_btn{font-size: 16px; font-weight: 700;}

.main{margin: 0 auto; max-width: 1100px; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between}
.explain-section{max-width: 360px; margin-top: 120px; padding: 0 20px;}

.explain-box .progress-number span:nth-child(1){font-size: 40px; font-weight: 700; color: #ff5c75; }
.explain-box .progress-number span:nth-child(2){font-size: 20px; font-weight: 500; color: #9898a2; }
.explain-box .section-title{margin-bottom: 20px; font-size: 36px; font-weight: 700; line-height: 1.5; color: #000;}
.explain-box .section-comment{line-height: 1.5; color: #333333;}
.progress-summary{margin-top: 60px; padding: 34px 30px; width: 360px; border:1px solid #e0e0e5; border-radius: 12px; background: #f8f8f9;}
.progress-summary .summary-title{position: relative; margin-bottom: 18px; padding-left: 28px; font-size: 22px; color: #ff5c75;}
.progress-summary .summary-title::after{position: absolute; top: 0; left: 0; display: block;width: 20px; height: 20px; background: url(../img/check.png); background-size: cover; content: '';}
.progress-summary .progress-state{padding-left: 10px; border-left: 1px solid #dddde2;}
.progress-summary .progress-state li{margin-bottom: 11px; font-weight: 500; color: #9898a2;}
.progress-summary .progress-state li.checked{font-weight: 600; color: #333333;}

.box-button{margin: 0 auto; display: flex; justify-content: space-around;}
.box-button .btn-black{width: 200px; height: 56px; border-radius: 6px; font-size: 16px; font-weight: 600; line-height: 56px; color: #fff; background: #000;}
.box-button .btn-gray{width: 200px; height: 56px; border: 1px solid #d4d4d4; border-radius: 6px;font-size: 16px; font-weight: 600; color: #242424;}

.radio-name{display: block; margin-bottom: 20px; font-weight: 500; color: #242424;}
.box-radio{display: flex; flex-direction: row; margin-bottom: 30px;}
.box-radio input[type="radio"] {display: none;}
.box-radio label{margin-left: 20px; width: 80%; line-height: 50px; border: 1px solid #e0e0e5; border-radius: 6px; text-align: center; color: #e0e0e5;}
.box-radio input[type="radio"]:checked + label{border: 1px solid #ff5c75; color: #ff5c75;}


.checking-section{display: none; max-width: 500px; width: 100%; margin: 120px 0 200px; padding: 0 20px;}
.submit-box{margin-bottom: 65px;}
.submit-box .box-input{margin-bottom: 28px;}
.box-input{position: relative; padding-left: 160px;}
.box-input label{position: absolute; left: 0; font-size: 16px; font-weight: 600; line-height: 48px; color: #000;}
.box-input input{max-width: 518px; padding: 5px 15px; width: 100%; height: 48px; border: 1px solid #d4d4d4; border-radius: 6px;}
.box-input > select{max-width: 518px; padding: 5px 15px; width: 111%; height: 48px; border: 1px solid #d4d4d4; border-radius: 6px;}
.box-input > select option[value=""][disabled] {display: none; color:#9898a2;}

.result-box{max-width: 680px; width: 100%; padding: 80px 30px; border: 1px solid #d4d4d4; border-radius: 6px;}
.result-box h3{padding: 15px 0; border-radius: 6px 6px 0 0; font-size: 18px; font-weight: 600; text-align: center; background: #242424; color: #fff;}
.self-choice{display: flex; margin-bottom: 60px; width: 100%; background: #f8f8f9;}
.self-choice .show-choice{flex-grow: 1; position: relative; padding: 20px 20px;}
.self-choice .show-choice:nth-child(2){flex-grow: 1; position: relative;}
.self-choice .show-choice:nth-child(2)::after{position: absolute; top: 10px; left: 0; width: 1px; height: 80%; background: #e0e0e5; content: '';}
.self-choice .show-choice li{line-height: 1.5; color: #5a5a60;}
.box-explain{margin-bottom: 40px;}
.box-explain h4{position: relative; margin-bottom: 18px; padding-left: 28px; font-size: 22px; color: #000;}
.box-explain h4::after{position: absolute; top: 0; left: 0; display: block;width: 20px; height: 20px; background: url(../img/check.png); background-size: cover; content: '';}

.box-link{margin: 90px auto;}
.box-link p{margin-bottom: 30px; font-size: 30px; font-weight: 700;color: #000; }
.box-link .btn-black{display: block; margin: 0 auto; width: 240px; height: 56px; border-radius: 6px; font-size: 16px; font-weight: 600; line-height: 56px; text-align: center; color: #fff; background: #000;}

.footer{position: relative; display: flex; justify-content: space-between; padding: 70px 80px; background: #242424; line-height: 1.5; color: #fff;}